<h2>&nbsp;</h2>
<div class="panel clearfix">
  <h3>Quick Links</h3>
  <ul class="side-nav">Switch to:
    <li><%= link_to 'Published Books', books_path %></li>
    <li><%= link_to 'Under Contract', contracted_books_path %></li>
    <li><%= link_to 'New Proposals', proposed_books_path %></li>
    <li><%= link_to 'Add a New Book', new_book_path %></li>
  </ul>
</div>